@font-face {
  font-family: myFirstFont;
  src: url(../font/THSarabunNew.ttf);
}

body {
  font-family: myFirstFont;
  font-size: 22px;
  margin-top: 0px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#header{
  margin-left: auto;
}
div.main {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 50px;
    width: auto;
    position: relative;
    height: fit-content;
    border: 3px solid gray;
    box-shadow: 1px 1px 1px 1px #ccc;
    }
a.border {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    background-color: lightgrey;
  }

linespace{
  padding: 25px 50px 75px 100px;
  }
  div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display:inline-block;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  } 

  .rounded {
    border-radius: .25rem!important;
  }
  #nav-content li span:hover{
    color: #fbfcf0;
  }
#sidecontent li span:hover{
  color: #FAFF00;
}
#sidecontent ul li:hover{
  background-color: #1E3163;
  display:block;
}
#sidecontent a {
  margin-right: 100px;
}
#nav-content li:hover{
  background-color: #C8C6C6;
  margin-left:5px;
  padding-left:5px;
  padding-right:5px;
}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181 ;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

span.marginle {
  margin-left: 20;
}

/* li:hover, li:hover:active {
  background-color: #628395;
  font-size: 150%;
  } */
